:root{
  font-size: 14px;
  --sidebar-bgc:#111b21;
  --border-clr: #aebac142;
  --nav-bgc: #202c33;
  --font-family:Inter;
  --user-img:25px;
  --nav-el-pad:0.5rem 0.7rem;
  --width-cancel:1.4em;
  --text-color:#AEBAC1;
  --selected-tag-bgc:#0A332C;
  --selected-tag-color:#05A884;
  --chat-username-color:#E9EDE3;
  --chat-input-bgc:#2A3942;


}
*{
  margin: 0;
  padding: 0;
}
.app{
  background-color: var(--nav-bgc);
  display: flex;
  justify-content: start;
  font-family: Inter;
  .asset-icon{
    width: 1.5em;
  }
  .chat-icon{
    width: 2em;
  }
  .user-img{
    width: 3em;
    border-radius: 50%;
  }
  .sidebar{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    background-color: var(--sidebar-bgc);
    border-right: 1px solid var(--border-clr);
    nav{
      display: flex;
      padding: var(--nav-el-pad);
      justify-content: space-between;
      background-color: #fff;
      background-color: var(--nav-bgc);
      ul{
        display: flex;
        align-items: center;
        gap: 1.2rem;
        li{
          list-style-type: none;
          cursor: pointer;
        }
      }
    }
    .searchbar{
      display: flex;
      align-items: center;
      background-color: var(--nav-bgc);
      padding: 0.7em 1em;
      margin: 0.5em 0.7em;
      gap: 1.5em;
      border-radius: 0.7em;
      img{
        width: 1.2em;
        cursor: pointer;
      }
      input{
        flex: 1;
        font-size: 1em;
        outline: none;
        background-color: transparent;
        border: none;
        /* color: var(--text-color); */
        color: #D1D7DB;
      }
      ::placeholder{
        color: var(--text-color);
      }
    }
    .tags{
      padding: var(--nav-el-pad);
      border-bottom: 1px solid var(--border-clr);
      font-size: 1em;
      display: flex;
      align-items: center;
      gap: 1em;
      .tag{
        padding: 0.5em 0.8em;
        background-color: var(--nav-bgc);
        border-radius: 1.1em;
        color: var(--text-color);
        font-weight: 200;
        cursor: pointer;
      }
      .selected-tag{
        background-color: var(--selected-tag-bgc);
        color: var(--selected-tag-color);
      }
    }
    ::-webkit-scrollbar{
      width: 0.4em;
    }
    ::-webkit-scrollbar-thumb{
      background-color: var(--border-clr);
    }
    .chats{
      display: flex;
      flex-direction: column;
      overflow:auto;
      .chat{
        padding: 0;
        padding-left: 0.7em;
        width: calc(100% - var(--width-cancel));
        display: flex;
        gap: 1em;
        align-items: center;
        cursor: pointer;
        user-img{
          padding: 1em 0;
          transform: translateX(10px);
          transition: transform 0.3s ease-in;
        }
        .content{
          display: flex;
          flex-direction: column;
          width: calc(100% - 4em);
          color: var(--text-color);
          padding: 0.5em 0;
          border-bottom: 1px solid var(--border-clr);

          .top, .bottom{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
          }
          .top{
            h4{
              font-weight: 300;
              font-size: 1.5rem;
              color: var(--chat-username-color);
            }
            span{
              font-size: 0.8em;
            }
          }
          .bottom{
            position: relative;
            width: 100%;
            .message{
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
          }
          }
          
        }
      }
      }
    }

    .chatbar{
      position: relative;
      width: 100%;
      display: flex;
      background-color: var(--sidebar-bgc);
      flex-direction: column;
      .chat-nav{
        padding: var(--nav-el-pad);
        width:calc(100% - var(--width-cancel));
        background-color:var(--nav-bgc);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--chat-username-color);
        li{
          cursor: pointer;
        }
        .left-nav{
          display: flex;
          align-items: center;
          gap: 1em;
          list-style-type: none;
          font-weight: 400;
          font-size: 1em;
        }
        .right-nav{
          display: flex;
          align-items: center;
          align-items: center;
          gap: 3em;
          list-style-type: none;
        }
      }

      .chat-input{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0.7em;
        min-width: calc(100% - 1.4em);
        background-color: var(--nav-bgc);
        display: flex;
        align-items: center;
        gap:1em;
        .input{
          width: 80%;
          padding-right: 2em;
          
          input{
            width: 100%;
            border-radius: 0.7em;
            flex: 1;
            background-color: var(--chat-input-bgc);
            border:none;
            outline: none;
            font-size: 1em;
            padding: 1em;
            color: var(--chat-username-color);
          }
          ::placeholder{
            color: var(--text-color);
          }
        }
      }

    }
  }



  .chat .bottom img{
    
    display: block;
    visibility: hidden;
    transform: translateX(5px);
    transition: 0.1s ease-in;
  }
  .chat:hover{
      background-color: #202C33;
      .content{
        .bottom{
          .message{
            width: calc(100% - 5px);
            overflow: hidden;
              text-overflow: ellipsis;
          }

        }
      }
      .bottom img{
        display: block;
        visibility: visible;
        transform: translateX(-5px);
        transition: 0.1s ease-in;
      }
  }
  .app {
    .sidebar {
      .chats {
          .chat:last-child{
     .content{
    border-bottom: none;
  }
}}}
}

@media screen and (min-width:1300px){
  .sidebar{
    flex: 0 0 30%;
    max-width: 30%;
  }
}
@media screen and (min-width:900px) and (max-width:1300px){
  .sidebar{
    flex: 0 0 40%;
    max-width: 40%;
  }
}
@media screen and (max-width:900px){
  .sidebar{
    flex: 0 0 45%;
    max-width: 45%;
  }
}
